<!-- Navbar -->
<app-navbar></app-navbar>

<div id="home" class="bg-section" [style.backgroundImage]="'url(assets/images/bg-section-1.png)'">
    <div class="container h-100">
        <div class="row h-100">
            <div id="col" class="col-md-12 my-auto">
                <div class="cont-home text-center">
                    <h1>EMCOR</h1>
                    <h2>TEST</h2>
                    <div class="bb-red-light"></div>

                </div>
            </div>
        </div>
    </div>
</div>



<div id="insurance-types" class="title-section">
    <div class="container color-gray-light">
        <h1>CATALOGOS <small><span class="color-gray-light3">:</span> <span class="color-gray-light2"> </span>
                <span class="color-gray-light"></span></small></h1>
    </div>
</div>

<div id="insurances" class="bg-section" [style.backgroundImage]="'url(assets/images/bg-section-3.png)'">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-6 col-md-3 m-1">
                <a href="#/Maestros">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                            <div class="card-icon">
                                <i class="fas fa-users"></i>
                            </div>
                            <h5 class="card-title">Maestros</h5>
                            <p class="card-text">Ver Mas</p>
                            <div class="bb-red-light"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3 m-1">
                <a href="#/Estudiantes">
                    <div class="card text-center" style="width: 18rem;" data-toggle="modal"
                        data-target="#renter_insurance">
                        <div class="card-body">
                            <div class="card-icon">
                                <i class="fas  fa-users"></i>
                            </div>
                            <h5 class="card-title">Estudiantes</h5>
                            <p class="card-text">Ver Mas</p>
                            <div class="bb-red-light"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-3 m-1">
                <a href="#/Materias">
                    <div class="card text-center" style="width: 18rem;" data-toggle="modal"
                        data-target="#home_insurance">
                        <div class="card-body">
                            <div class="card-icon">
                                <i class="fas fa-file-signature"></i>
                            </div>
                            <h5 class="card-title">Materias</h5>
                            <p class="card-text">Ver Mas</p>
                            <div class="bb-red-light"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>





<div id="contact" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <nav class="navbar text-center p-0">
                    <h4>Menu</h4>
                    <!-- Links -->
                    <ul class="navbar-nav w-100 p-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">INICIO</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#insurances">CATALOGOS</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="#contact">CONTACTO</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4 locations">
                <h4>Ubicacion</h4>
                <h6>CD Obregon Son.</h6>
                <p>Calle Mayo 600-C, Norte, Zona Nte, 85010 </p>
                <h6>Telefono</h6>
                <p>(520)-445-2088</p>

            </div>
            <div class="col-md-4">
                <h4>Requests</h4>
                <p class="text-left color-gray-light2">
                    Need Help, have a Question, or want to share your opinion or some
                    feedback with Us?. Give us a call or send us a messsage. We're Happy to
                    Help in any way we can. Our Hours : Monday - Friday 9:00 am - 7:00 pm
                    Saturday 9:00 am - 5:00 pm.
                </p>
                <!-- Links -->
                <form id="form-contact">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="full_name" placeholder="Full name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="phone" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" id="message" rows="4" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <button type="submit" class="btn btn-shop-sm">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
</div>



<!-- Slider -->
<!-- <app-slider [images]="imageSlider"></app-slider> -->