<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" *ngFor="let item of colums">{{item}}</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of teachers; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{item.name}}</td>
      <td>{{item.last_name}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.create_date}}</td>
      <td>   <a  *ngIf="mode_asignation" (click)="valueChanged(item.id)" ><i   class="fas fa-check"></i>Agregar</a>  <a *ngIf="!mode_asignation" href="#/{{url_edit}}/{{item.id}}"> <i class="fas fa-edit"></i> </a>&nbsp; &nbsp; <a  *ngIf="!mode_asignation" (click)="valueChanged(item.id)" ><i   class="fas fa-trash"></i> </a> </td>
    </tr>
  </tbody>
</table>