@import "../../../variables.scss";

#home {
  margin-top: 2.6rem;
  height: 62rem;
  padding-bottom: 4rem;
  h1,
  h2 {
    color: $gray-light;
    margin-bottom: 0.5rem;
  }
  h1 {
    font-family: "raleway-extralight";
    font-size: 4rem;
  }
  h2 {
    font-family: "raleway-bold";
    font-size: 3rem;
  }
  .bb-red-light {
    width: 10rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

#about-us {
  padding-top: 6rem;
  .container {
    padding: 2rem;
    margin-top: 2rem;
    background-color: #fafafa;
    img {
      margin-bottom: 2rem;
    }
    h2 {
      color: $gray-light4;
      font-family: "raleway-semibold";
    }
    h6 {
      font-family: "roboto-regular";
      color: $gray-light1;
    }
    p,
    ul li {
      font-family: "roboto-regular";
      color: $gray-light2;
    }
    ul {
      padding-left: 1rem;
    }
    .share {
      font-family: "roboto-bold";
      button {
        padding: 0;
        width: 2rem;
        height: 2rem;
        margin-left: 2rem;
        border-radius: 100%;
        text-align: center;
        border: solid 2px $gray-light2;
        color: $gray-light2;
        i {
          vertical-align: middle;
        }
      }
      button:hover {
        border: solid 2px $red-light;
        color: $red-light;
      }
    }
  }
}

.title-section {
  font-family: "roboto-bold";
  background-color: $gray-dark;
  h1 {
    font-size: 1.2rem;
    line-height: 3.4rem;
    margin-bottom: 0;
    small {
      float: right;
    }
  }
}

#insurance-types {
  margin-top: 2rem;
}

#insurances {
  min-height: 57rem;
  padding-top: 8rem;
  .card {
    margin: 0 auto;
    cursor: pointer;
    border: none;
    background-color: #1f1a1a5c;
    color: $blanco;
    .card-icon {
      height: 6rem;
      width: 6rem;
      font-size: 2rem;
      background-color: $blanco;
      color: $gray-light4;
      line-height: 6rem;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 2rem;
      border-radius: 100%;
    }
    .bb-red-light {
      width: 5rem;
      margin: 0 auto;
    }
    p {
      color: $gray-light2;
    }
  }
  .card:hover {
    .card-icon {
      background-color: transparent;
      color: $red-light;
      border: solid 2px $red-light;
    }
    h5 {
      color: $red-light;
    }
  }
}

#helpful-links {
  padding-top: 8rem;
  padding-bottom: 8rem;
  font-family: "roboto-bold";
  h1 {
    font-family: "raleway-bold";
    color: $gray-light4;
  }
  p {
    color: $gray-light3;
  }
  .bb-gray-light3 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 5rem;
  }
  ul {
    color: $gray-light2;
    list-style: none;
    padding-left: 0;
    /*  li:before {
            content: '✓';
            color: green;
        } */
    li {
      font-family: "roboto-regular";
      font-size: 0.9rem;
      small {
        color: $green-light;
        i {
          font-size: 0.8rem;
        }
      }
    }
  }
}

#map-section {
  margin-top: 8rem;
  height: 30rem;
  iframe {
    width: 100%;
    height: 100%;
  }
}

#contact {
  padding-top: 8rem;
  background-color: $gray-light4;
  color: $gray-light;
  nav {
    font-family: "roboto-regular";
    ul {
      li {
        a {
          text-align: left;
          text-decoration: none;
          color: $gray-light;
          font-size: 0.8rem;
          font-weight: bold;
        }
      }
    }
  }
  p {
    color: $gray-light1;
    font-family: "raleway-extralight";
  }
  #form-contact {
    font-family: "roboto-regular";
    .form-group {
      text-align: left;
    }
    label {
      color: $gray-light;
    }
    input,
    textarea {
      background: $blanco;
      border-radius: 0;
      color: $gray-light3;
      border-radius: 5px;
      font-weight: bold;
      border: none;
      border-bottom: solid 2px $gray-light;
    }
    button {
      color: $gray-light;
      font-weight: bold;
      text-transform: uppercase;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 3rem;
      padding-right: 3rem;
      background-color: $green-light;
    }
  }
  .nav-item.active {
    //border-bottom: solid 2px $gray-light;
    a {
      color: $red-light !important;
    }
  }
}

.fix_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 22%;
}

