<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <div class="share">
          <a href="#/"><button type="button" class="btn"><i class="fab fa-facebook-f"></i></button></a>
          <a href="#/"><button type="button" class="btn"><i class="fab fa-twitter"></i></button></a>
          <a href="#/"><button type="button" class="btn"><i class="fab fa-instagram"></i></button></a>


        </div>
      </div>
    </div>
  </div>
</footer>