@import "variables.scss";

/* You can add global styles to this file, and also import other style files */
$html-font-size-lg: 16px;
$html-font-size-md: 14px;
$html-font-size-sm: 12px;
$html-font-size-xs: 10px;

/* $paragraph-font-size-lg: 18px;
$paragraph-font-size-md: 16px;
$paragraph-font-size-sm: 14px;
$paragraph-font-size-xs: 12px;
 */
html {
    
    font-size: $html-font-size-lg;
    line-height: 23px;
    
    @media (max-width: 1024px) {
        font-size: $html-font-size-md;
    }
    
    @media (max-width: 640px) {
        font-size: $html-font-size-sm;
    }
    
    @media (max-width: 480px) {
        font-size: $html-font-size-xs;
    }
    
}

/* p {
    
    font-size: $paragraph-font-size-lg;
    
    @media (max-width: 1024px) {
        font-size: $paragraph-font-size-md;
    }
    
    @media (max-width: 640px) {
        font-size: $paragraph-font-size-sm;
    }
    
    @media (max-width: 480px) {
        font-size: $paragraph-font-size-xs;
    }
    
} */
.cont-owl{
    /* padding-left: 6rem;
    padding-right: 6rem; */
    img{
        /* border-radius: 1rem; */
        background-size: cover;
        background-position: center;
    }
    .carousel-image{
        //width: 18rem;
        height: 25rem;
        margin: 0 auto;
        /* border-radius: 1rem; */
        background-size: cover;
        background-position: center;
    }
    #customNav{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        .owl-prev, .owl-next {
            position: absolute;
            /* height: 100px; */
            color: inherit;
            background: none;
            border: none;
            font-size: 2rem;
            color: #fff;
            z-index: 100;
            border: solid 1px #fff;
            border-radius: 100%;
            width: 3.5rem;
            height: 3.5rem;
        }
        .owl-prev {
            left: .8rem;
        }
        
        .owl-next {
            right: .8rem;
        }
    }
}
.bg-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.color-gray-light{
    color: $gray-light !important;
}
.color-gray-light2{
    color: $gray-light2 !important;
}
.color-gray-light3{
    color: $gray-light3 !important;
}
.color-red-light{
    color: $red-light !important;
}
.btn-red{
    border-radius: 10rem;
    color: $blanco;
    background-color: $red-light;
    padding-left: 2rem;
    padding-right: 2rem;
}
.bb-red-light{
    border-bottom: solid 2px $red-light;
}
.bb-gray-light3{
    border-bottom: solid 2px $gray-light3;
}
.bb-gray-light4{
    border-bottom: solid 2px $gray-light4;
}

.btn_add {
    color: white !important;
    cursor: pointer;
  }